<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
	<connectionStrings>
		<add name="Db" connectionString="Server=DESKTOP-TSR38CT\MSSQLSERVER1 ;Database=ManavDb ; uid=sa ;pwd=123;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>